<h1>Weather App<span><fa-icon [icon]="faMeteor"></fa-icon></span></h1> 

<div class="content">
  <div fxFlex fxLayout="row wrap">
    <div fxFlex class="wid">
      <app-card [cityName] = "'London'"></app-card>
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Chennai'"></app-card>
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Paris'"></app-card> 
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Chengalpattu'"></app-card>
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Las Vegas'"></app-card> 
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Bangalore'"></app-card>
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Shangai'"></app-card>
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Washington'"></app-card> 
    </div>
    <div fxFlex class="wid">
      <app-card [cityName] = "'Trichy'"></app-card> 
    </div>
  </div>  
</div>


